:root {
    --color-theme: #3d68db;
    --body-width: 80rem;
    --edges: 0.75rem;
    --sec-color: #a31526;
}

body {
    font-family: "Lora", serif;
}

* {
    margin: 0;
    padding: 0;
}

.body-wrapper {
    max-width: var(--body-width);
    margin: 0 auto;
}

footer {
    background-color: var(--color-theme);
    color: white;
    text-align: center;
    padding: 1rem;
    font-weight: 300;
}

h1 {
    color: white;
    background-color: var(--color-theme);
    text-align: center;
    font-size: 2em;
    padding: 1rem;
    font-weight: 500;
}

main {
    text-align: center;
}

.both-menus-wrapper {
    padding: 1rem;
}

table {
    margin: 0 auto;
    width: 100%;
}

h2 {
    padding: 0.25rem 1rem 2rem 1rem;
    font-weight: 200;
}

#weather-img {
    margin-bottom: 1rem;
    width: 25%;
}

.seperator {
    height: 2px;
    background-color: #eee;
    border: none
}

#hero-img {
    border-top: 1rem solid var(--sec-color);
    border-bottom: 0.25rem solid var(--color-theme);
    width: 100%;
}

th {
    text-align: right;
    width: 50%;
}

td {
    text-align: left;
    padding-left: 0.5em;
    width: 50%;
}