:root {
    --color-theme: #316360;
    --body-width: 80rem;
    --edges: 0.75rem;
}

@media only screen and (min-width: 50em) {
    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;
        background-color: var(--color-theme);
        color: #fff;
        padding: 0;
    }

    .navigation a {
        display: block;
        padding: 0.5rem;
        text-align: center;
        text-decoration: none;
        color: #fff;
        font-size: 1.2em;
        margin: 0;
    }

    #menu {
        display: none;
    }

    header {
        display: flex;
        width: 100%;
        background-color: var(--color-theme);
        justify-content: space-between;
    }

    .gallery-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 1em;
    }
}

@media only screen and (min-width: 25em) and (max-width: 50em) {
    .gallery-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1em;
    }
}